<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>977217852552-0glhg8dtlsa4jq6rfd30gdd4uenvddfs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.977217852552-0glhg8dtlsa4jq6rfd30gdd4uenvddfs</string>
	<key>API_KEY</key>
	<string>AIzaSyBGsL1RZ2T3Y55ZVz1cZiO4cl0SeFhoTYM</string>
	<key>GCM_SENDER_ID</key>
	<string>977217852552</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.chat</string>
	<key>PROJECT_ID</key>
	<string>chat-app-6aead</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-6aead.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:977217852552:ios:5b249e4ac7d88b56ed3b3d</string>
</dict>
</plist>